<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bhargav's CV</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bhargav Vadlamudi CV">
    <meta name="author" content="Bhargav Vadlamudi">
    <link rel="shortcut icon" href="/images/profile.jpg">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="/images/profile.jpg" alt="" />
                <h1 class="name">Bhargav</h1>
                <h3 class="tagline">Full Stack Developer and Functional & Performance Tester</h3>
            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: yourname@email.com">bhargav.v100@gmail.com</a></li>
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:0123 456 789">+91 7989837037</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/bhargav-vadlamudi-9bb67b98/" target="_blank">linkedin.com/in/bhargav</a></li>
                </ul>
            </div><!--//contact-container-->

            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">Bachelor of Electronics and Comunications</h4>
                    <h5 class="meta">Hindustan University</h5>
                    <div class="time">2012 - 2016 ( CGPA : 9 )</div>
                </div>
                <div class="item">
                    <h4 class="degree">+12  </h4>
                    <h5 class="meta">Sri Chaitanya College</h5>
                    <div class="time">2010 - 2012 ( CGPA : 9.5 )</div>
                </div>
            </div><!--//education-container-->

            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>Telugu <span class="lang-desc">(Native)</span></li>
                    <li>English <span class="lang-desc">(Professional)</span></li>
                    <li>Hindi <span class="lang-desc">(Professional)</span></li>
                </ul>
            </div><!--//interests-->

            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Cooking</li>
                    <li>Working out</li>
                    <li>Reading Tech Blogs</li>
                    <li>Badminton</li>
                    <li>Chess</li>
                    <li>Watching English Series</li>
                </ul>
            </div><!--//interests-->

        </div><!--//sidebar-wrapper-->

        <div class="main-wrapper">

            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
                <div class="summary">
                    <p>I believe that understanding and executing are the key steps to excel in any skill. My work represents what I am. I have worked for INFOSYS LIMITED for about 1.5 years in the areas of Web Development and Functional & Performace testing and Test Automation. I enjoy the work I do which is why I am able to keep up with the expectations of my clients.</p>
                </div><!--//summary-->

                <div class="summary">
                  <p>I like to keep myself engaged and updated with the trendy technologies.I am a self-learner and an ardent follower of MOOC( Massive Open Online Courses). All my skills are learned through MOOC. Currently, I am learning Big Data Analysis & Machine Learning and the process of embedding them in web applications.</p>
                </div>
            </section><!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Full Stack Developer</h3>
                            <div class="time">2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Self Employed</div>
                        <a href="https://stcn.herokuapp.com" class="company" target="_blank">client: STCN (https://stcn.herokuapp.com/)</a>

                    </div><!--//meta-->
                    <div class="details">
                        <p>
                          STCN is one of the digital cable service providers in my district. They have reached out to me seeking a website to provide online services to their customers. I am able to provide them a fully functional responsive website according to their requirements in an expected time frame. Atom IDE, Cloud9 IDE, Node.js, Bootstrap, jQuery, MongoDB are used for developing the website and currently hosted on Heroku servers.

                        </p>
                    </div><!--//details-->
                </div>  <!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Full Stack Developer</h3>
                            <div class="time">2017 - 2018</div>
                        </div><!--//upper-row-->
                        <a href="https://www.infosys.com/" class="company" target="_blank">Infosys Limited, India</a>
                    </div><!--//meta-->
                    <div class="details">
                      <p> <ul>
                              <li>Design develop and maintain a Nodejs app for the new verticals of the client.</li>
                              <li>Worked with HTML5, CSS3, Javascript, jQuery, Bootstrap, Node.js, Express, NPM, SQL, Github, MongoDB, Java and Websockets.</li>
                              <li>Well versed in agile and TDD methodologies.</li>
                              <li>Following best practices, Performing monthly code pushes, addressing the issues after the code push.
                                Interacting with the stakeholders and sign-off report preparation.</li>
                                <li>Awarded as the best debutant of the year for my contributions towards Automation & Development.</li>
                          </ul>
                      </p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Automation Tester</h3>
                            <div class="time">2016 July - 2017</div>
                        </div><!--//upper-row-->
                        <a href="https://www.infosys.com/" class="company" target="_blank">Infosys Limited, India</a>
                    </div><!--//meta-->
                    <div class="details">
                      <p>
                        <ul>
                          <li>Performance Testing (Load Runner) of Web and desktop applications and
                            web services with the Independent Validation Solutions group of Infosys. </li>

                          <li>Scripting using HP Load Runner tool & Selenium for protocols Web-HTTP/HTML,
                            Web services (SOAP & REST),Ajax Truclient.</li>

                            <li>Strong understanding of performance testing life cycle i.e.
                              Requirement Gathering, Work Load Modeling, Test Planning, Scripting, Scenario Designing, Test Execution,
                              Performance Monitoring, Performance Analysis and Performance tuning recommendation.</li>
                              <li>Using Jenkins to create new projects, pipelining of DEV build,
                                Configuration and passing details from Jenkins to SOASTA cloud test</li>

                            <li>Experienced in working with performance monitoring tools IBM ISA,
                                 Team Quest, Soap UI, HttpWatch.</li>

                            <li>An active member in training the fresher’s on Project deliverables and various tools.</li>

                        </ul>
                      </p>
                    </div><!--//details-->
                </div><!--//item-->





            </section><!--//section-->

            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Certifications & Awards</h2>
                <p><b>Please feel free to access the certifications by hovering over the headings.</b> </p>
                <div class="item">
                    <span class="project-title"><a href="https://www.udemy.com/certificate/UC-MU8JACOM/" target="_blank">Web Developer Bootcamp</a></span> -
                    <span class="project-tagline">Holds an Udemy certification in Full Stack Web Development using Node JS.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a>Machine Learning by Andrew NG ( Yet to receive the certificate, currently under review)</a></span> -
                    <span class="project-tagline">Holds a Coursera certification in Machine Learning using Octave.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="/certificates/Coursera pythonlearn 2015.pdf" target="_blank">Python for Everybody</a></span> -
                    <span class="project-tagline">Certified from Michigan University on "Programming in Python" through Coursera.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://verify.edx.org/cert/8cf78f4487404e8293c543d453995d22"
                      target="_blank">Computing with Java</a></span> -
                    <span class="project-tagline">Certification from The Hong Kong University of Science and Technology through edX on "Computing with JAVA".</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://www.linkedin.com/company/hindustan-mars-rover-team/?originalSubdomain=in" target="_blank">University Rover Challenge (USA 2015)</a></span> -
                    <span class="project-tagline">Developed a control system using JAVA and Python, worked with Arduino, Ethernet module and raspberry pi &
                      robot operating system (ROS) in the process of making an efficient control system.
                    Secured 3rd position from India and 18th globally in the URC-2015 held by MARS SOCIETY USA at UTAH.</span>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="https://www.linkedin.com/feed/update/urn:li:activity:6361941496484192256" target="_blank">Best Debutant Award By INFOSYS LIMITED</a></span> -
                    <span class="project-tagline">Awarded as the best Debutant of the year for my contributions towards innovation and development.
                    Developed a <b>Report Made Easy tool</b> using VB scripting, HTML, CSS, Excel. The tool is used to collate the test results automatically
                  after the completion of the test and drop a mail to the test triggered person providing the test results which
                includes Throughput, Response times, Transactions per second, CPU and Memory Utilization, GC analysis.  </span>
                
                
                
                

                 
                </div>
                
                <div class="linkedin-frame">
                    
                <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:activity:6361941496484192256"  frameborder="0" allowfullscreen=""></iframe> 
                    
                </div>


            </section><!--//section-->

            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">Python &amp; Java</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Machine Learning</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="90%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">VB Scripting</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Node.js &amp; NPM &amp; Express</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                </div>
            </section><!--//skills-section-->

        </div><!--//main-body-->
    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
