<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Bhargav Vadlamudi ( Rammy )">

    <title>Learn with Rammy</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="/css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Learn with Rammy</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Where  </a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Course</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Myself</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Our Moto</div>
          <div style="font-size:60px" class="intro-heading text-uppercase">Understand & implement</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
        </div>
      </div>
    </header>

    <!-- Services -->
    <section id="services" style="
    background-image:  url(http://freefrontend.com/assets/img/css-loaders/code-loader.gif);
    background-size:  100%;
    background-repeat: no-repeat ;
">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Are you at the right place</h2>
            <h3 class="section-subheading text-muted">See if i can help you booast your skills </h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
            <span class="fa-stack fa-4x">

            </span>
            <h4 class="service-heading">Do you want to become a web developer and build web sites like this <a href="http://stcn.herokuapp.com/">STCN</a>   </h4>
            <h4 class="service-heading">You are a student interested in learning new skills ? </h4>
            <h4 class="service-heading">Do you want to stand out from the crowd in interviews ? </h4>

            <p class="text-muted">Well you are at the right place. </p>
<br><br>
<p style="font-size:21px ; font-family:monospace"><i><b> -- Stop carrying your resumes while going to interviews, just ping them your online resume link like mine : <a href="http://bhargav-cv.ga/"> Rammy Resume</a></b> <i></p>


          </div>

        </div>
      </div>
    </section>

    <!-- Courses Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Courses</h2>
            <h3 class="section-subheading text-muted">Love what you learn & never forget to implement</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="https://www.harshadwebsofts.com/wp-content/uploads/2018/05/web_application_design.jpg" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>Responsive Web Development</h4>
              <p class="text-muted">Details</p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section id="about" style="background-color:#99d3d9">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Find what you learn step by step </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4tL0nNYtM0hW6G55ylmFYX8uAMtgKh5SfmjqbrkpVj3Ej-nri" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>12 Hours</h4>
                    <h4 class="subheading">Intro to HTML & CSS</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">
                    We start off with basics of HyperText Markup Language and Cascading Style Sheets, We learn the elements from there roots and experiment on them. HTML & CSS are the pillars for a web developer so it's important that we spend a considerable amount of time here.
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzUxDVs1N3OHz-3zE2s26VubAwUpEKE1hl4SosMozOSAkBBysY" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>10 Hours</h4>
                    <h4 class="subheading">JavaScript & C</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Before we start off with JS that adds varieties of functionalities to our Websites we go for a quick introduction to C. C helps you understand some core concepts of programming. Though C is older
 its the best place for a novice to start with.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="img/about/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>10 Hours</h4>
                    <h4 class="subheading">Development</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Once we excel with the above skills, we start building completely Responsive & Stunning websites. By the end of this stage, you should be able to create your own website on your laptop </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="https://docs.microsoft.com/en-us/media/common/i_deploy.svg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>10</h4>
                    <h4 class="subheading">Deployment</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Well having a website locally on your laptop isn't much useful, its time to bring it online.
                    At this stage, we learn how to deploy our websites, set up a domain & learn using some cloud tools to host our website. Heres a website I have developed for my client back in India
                  <a href="http://stcn.herokuapp.com/">Client STCN</a> </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Understand <br>&<br> Implement</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Myself -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Hi it's Rammy</h2>
            <h3 class="section-subheading text-muted">Let me introduce a bit about myself</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="img/team/2.jpg" alt="">

              <p class="text-muted">Full Stack Web Developer and Functional & Performance Tester</p>
              <ul class="list-inline social-buttons">

                <li class="list-inline-item">
                  <a href="https://www.facebook.com/bhargav.vadlamudi.9">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/in/bhargav-vadlamudi-9bb67b98/">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">

        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">I love developing, my spirits of joy raises whenever I develop something,
               you will understand much better when your first website goes live I am skilled in various fields of technologies,
               first we start off with building websites and in future I shall provide more challenging courses like Python, Java, Machine Learning, Automation Testing, Automation of tasks in windows using VB.
<br><br>
               I am also a big lover of performing interesting experiments using Arduino & Raspberry Pi, Soon I will come up with
               interesting courses in this area as well.

               <br><br>Know more about my professional life here : <a href="http://bhargav-cv.ga/"> Rammy</a>
           </p>
          </div>
        </div>
      </div>
    </section>



    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Contact Rammy</h2>
            <h3 class="section-subheading text-muted">Feel free to contact me </h3>
          </div>
        </div>
         <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate="novalidate">
              <div class="row">
                <div class="col-md-12">

                  <ul class="list-inline social-buttons" style="text-align:center">

                    <li class="list-inline-item">
                      <a href="https://www.facebook.com/bhargav.vadlamudi.9">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="https://www.linkedin.com/in/bhargav-vadlamudi-9bb67b98/">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>

                    <li class="list-inline-item">
                      <a href="mailto:bhargav.v100@gmail.com" >
                        <i class="fa fa-envelope"></i>
                      </a>

                    </li>

                    <li class="list-inline-item">
                      <a href="tel:+84 1208546631">
                        <i class="fa fa-mobile"></i>
                      </a>
                    </li>



                  </ul>
<br>
                  <p style="
    color: #eae6e6;
    text-align:  center;
">+84 1208546631</p>

                </div>


              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span class="copyright">All rights reserved  &copy;  2018. Created and Developed by Rammy</span>
          </div>


        </div>
      </div>
    </footer>

    <!--Course Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div style="background-color:#c3ecd1" class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Responsive Web Development</h2>
                  <p class="item-intro text-muted">Find a loving way to learn</p>
                  <img class="img-fluid d-block mx-auto" src="https://www.harshadwebsofts.com/wp-content/uploads/2018/05/web_application_design.jpg" alt="">
                  <p>This course is desgined for a complete novice to moderate students in the field of web development. The duration of the course
                  depends on the students enrolled for the course. First I shall interact with the students enrolled for the course and depending on the skills
                I will estimate the course duration. We move smoothly considering the comfort of students.</p>

                <p style="font-weight:bold"> What you learn by the end of the course :</p>
                <p>
                  <ol style="text-align:left">
                    <li>Learn using HTML & CSS </li>
                    <li>Learn using Javascript</li>
                    <li>Understand the basics of programming languages - C </li>
                    <li>Ability to create your own website ex : <a href="http://stcn.herokuapp.com/">Sample</a></li>
                    <li>Learn how to purchase domains or use free domains</li>
                    <li>Learn how to host your code on servers ex: Heroku</li>

                  </ol>
                </p>

                  <p style="font-weight:bold"> Timings & Fee Structure :</p>
                  <p>
                    <ul style="text-align:left"  >
                      <li><b>Fee Structure :</b> I want the course to be affordable for students, I havent
                      decided on the pricing yet. I will upade this soon.</li>
                      <li><b>Timings :</b> Shall decide to the comfort of students</li>


                    </ul>
                  </p>

                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/agency.min.js"></script>

  </body>

</html>
